/* ブラウザで設定されているスタイルのリセット・共通設定 */
/* 消さないでください */
*,
*::before,
*::after {
  box-sizing: border-box;
}
body,
h1,
h2,
h3,
p,
ul,
li,
form,
input,
textarea,
select,
button {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

ul {
  list-style: none;
}
/* スタイルのリセット終了 */

/* サイドバーとメインコンテンツを包むための要素のスタイルを書いてください */
/* サイドバーとメインコンテンツを含むための要素のスタイルを書いてください */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.dashboard-container {
  display: flex;
  height: 100vh;
}

aside {
  width: 240px;      /* 200〜300に収める */
  flex: 0 0 240px;   /* 幅が伸びて 1264 にならないよう固定 */
}

main {
  flex: 1;
  min-width: 600px;
}





